# CodeIgniter 3 Folders
/system/
/user_guide/
/application/cache/*
/application/logs/*

# Sensitive Configs (Keep your DB passwords off GitHub!)
/application/config/database.php
/application/config/development/

# Termux & Database Temp Files
*.sock
*.lock
*.sql
.DS_Store
